@model University.Web.Models.CourseIndexData

@{
    ViewData["Title"] = "Courses";
}

<h1 class="fw-bold">Courses</h1>

<div class="btn btn-dark">
    <a asp-action="Create" class="text-decoration-none text-white fw-bold">Create New</a>
</div>

<div class="mt-2">
    <div class="row bg-dark text-warning mx-0 p-2 fw-bold">
        <div class="col-2">Name</div>
        <div class="col-3">Description</div>       
        <div class="col-1">Groups</div>
        <div class="col-3">Options</div>
    </div>
    <div class="container">
        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.Id == Model.SelecterCourseId)
            {
                selectedRow = "bg-warning";
            }
            <div class="row @selectedRow">
                <div class="col-2 fw-bold pt-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-3 pt-3">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col-1">
                    @foreach (var group in item.Groups)
                    {
                        @group.Name <br />
                    }
                </div>
                <div class="col-3 p-2">
                    <a asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Select</a> 
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Groups.Count > 0)
{
    <h3>Groups Assigned to the Selected Course</h3>
    <div class=" row align-middle bg-white ">
        <div class="col-1 bg-dark"></div>
        <div class="col bg-dark text-warning fw-bold p-2">Name</div>

        @foreach (var item in Model.Groups)
        {
            string selectedRow = "";
            if (item.Id == Model.SelectedGroupId)
            {
                selectedRow = "bg-warning";
            }
            <div class="row @selectedRow p-1 mx-0">
                <div class="col-1">
                    @Html.ActionLink("Select", "Index", new { groupId = item.Id }, new {@class = "btn btn-primary"})
                </div>
                <div class="col fw-bold p-2">
                    @item.Name
                </div>
            </div>
        }
    </div>
}

@if (Model.Students.Count > 0)
{
    <h3>
        Students of the Selected Group
    </h3>
    <div class="align-middle bg-white">
        <div class="row text-warning bg-dark fw-bold p-2 mx-0">
            <div class="col-2">Name</div>
            <div class="col">Average Mark</div>
        </div>
        @foreach (var item in Model.Students)
        {
            <div class="row">
                <div class="col-2 fw-bold">
                    @item.FirstName @item.LastName
                </div>
                <div class="col">
                    @item.AverageMark
                </div>
            </div>
        }
    </div>
}